<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.ostis.scpdev.debug.core.launchConfigurationType.startpm">
<booleanAttribute key="net.ostis.scpdev.debug.ATTR_DIAGNOSTIC_EXEC" value="true"/>
<stringAttribute key="net.ostis.scpdev.debug.ATTR_PROGRAM_PATH" value="/lib/hello_world/hello_world"/>
<stringAttribute key="net.ostis.scpdev.debug.ATTR_PROJECT" value="1"/>
<stringAttribute key="net.ostis.scpdev.debug.ATTR_RUN_MODE" value="run_mode_program_path"/>
<booleanAttribute key="net.ostis.scpdev.debug.ATTR_STAY_EXEC" value="true"/>
<booleanAttribute key="net.ostis.scpdev.debug.ATTR_STOP_ON_ERROR" value="false"/>
<stringAttribute key="net.ostis.scpdev.debug.ATTR_TESTSUITE_PATH" value=""/>
<booleanAttribute key="net.ostis.scpdev.debug.ATTR_VERBOSE_EXEC" value="true"/>
</launchConfiguration>
