<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.ostis.scpdev.debug.core.launchConfigurationType.startpm">
<booleanAttribute key="net.ostis.scpdev.debug.ATTR_DIAGNOSTIC_EXEC" value="false"/>
<stringAttribute key="net.ostis.scpdev.debug.ATTR_PROGRAM_PATH" value=""/>
<stringAttribute key="net.ostis.scpdev.debug.ATTR_RUN_MODE" value="run_mode_default"/>
<booleanAttribute key="net.ostis.scpdev.debug.ATTR_STAY_EXEC" value="false"/>
<booleanAttribute key="net.ostis.scpdev.debug.ATTR_STOP_ON_ERROR" value="true"/>
<stringAttribute key="net.ostis.scpdev.debug.ATTR_TESTSUITE_PATH" value=""/>
<booleanAttribute key="net.ostis.scpdev.debug.ATTR_VERBOSE_EXEC" value="false"/>
</launchConfiguration>
