<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <command
            name="Semantics Help"
            categoryId="net.ostis.scpdev.help.action.commands.semanticshelp"
            id="net.ostis.scpdev.help.action.commands.semanticsHelp">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="net.ostis.scpdev.help.action.commands.semanticsHelp"
            class="net.ostis.scpdev.help.action.handlers.SemanticsHelp">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="net.ostis.scpdev.help.action.commands.semanticsHelp"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+F1"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="net.ostis.scpdev.help.action.menus.sampleMenu">
            <command 
                  commandId="net.ostis.scpdev.help.action.commands.sampleCommand"
                  mnemonic="S"
                  id="net.ostis.scpdev.help.action.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution locationURI="menu:help?before=group.assist">
           <command
                  commandId="net.ostis.scpdev.help.action.commands.semanticsHelp"
                  mnemonic="|"
                  id="net.ostis.scpdev.help.action.menus.semanticsHelp"
                   style="push">
            </command>
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="net.ostis.scpdev.help.action.toolbars.sampleToolbar">
            <command
                  commandId="net.ostis.scpdev.help.action.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="net.ostis.scpdev.help.action.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
